[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RTCGA"]
	path = RTCGA
	url = https://github.com/rtcga/rtcga
	shallow = true
	registered = true
